@charset "utf-8";

/****************************************************************************
	standard css 
****************************************************************************/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

 /*
 400,700,800
 */

/* ----- html5doctor.com reset stylesheet ----- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* basic css */
html, body, div, p, span, fieldset, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6,input,textarea{margin:0;padding:0;font-family:'NotoKR-Regular', Sans-serif; font-weight: 400;}
select {margin:0;padding:0;}


dl, dt, dd, ul, ol, li{
	list-style:none;
	padding:0;
	margin:0;
}

h1,h2,h3,h4,p {
	padding:0;
	margin:0;
}

img {border:0px;vertical-align:middle;}

table {border-spacing:0px;border:0px;border-collapse:collapse;}
table th,table td{vertical-align:middle;}

form {display:inline;}

fieldset {padding:0;margin:0;border:none;}

input, textarea,select {vertical-align:middle;}

/* a css */
a,
a:link,
a:visited,
a:hover{
	text-decoration:none;
}

/* clear */
.clearfix {zoom:1;}
.clearfix:after {content:"";clear:both; display:block; height:0; visibility:hidden;} 

/* align */
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.text-center {text-align:center !important;}

/* div align */
.posR {position:absolute;right:0;top:0;}
.posL {position:absolute;left:0;top:0;}

/* hidden */
legend, caption, {
	width:0; 
	height:0;            
	line-height:0;
	overflow:hidden;
	display:none;
}
.hidden{
	position:absolute !important;
	width:0; 
	height:0;            
	line-height:0;
	overflow:hidden; 
	text-indent:-2000px;
	left:-500px;
}
.blind {
    position: absolute;
    overflow: hidden;
    top: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
}